body {
  background-color: #F6F4F1;
  font-family: Arial, sans-serif;
}

.header-container {
  display: flex;
  gap: 20px;
  padding: 20px;
}

.topic-creation {
  background-color: #3B5362;
  color: white;
  flex: 1;
  padding: 15px;
  border-radius: 10px;
  
}

.topic-banner {
  background-color: #3B5362;
  color: white;
  flex: 3;
  padding: 0px;
  border-radius: 10px;
  text-align: center;
  overflow: hidden;
  max-height: 300px;
}
.topic-banner img {
  height: 100%;
 width:100%;
  display: block;
  margin: 0 auto;
}



.topic-details {
  margin: 0;
}

.detail-row {
  display: grid;
  grid-template-columns: 120px 1fr;
  align-items: start;
  gap: 8px;
  margin-bottom: 10px;
}

.detail-row dt {
  font-weight: bold;
}

.detail-row dd {
  margin: 0;
}

.description-truncate {
  /*display: inline-block;
  max-width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: middle;
  */
   display: -webkit-box;
  -webkit-line-clamp: 4;      /* Limit to 4 lines */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.see-more-button {
  background: none;
  border: none;
  color: #b8e70e;
  cursor: pointer;
  margin-left: 8px;
  font-size: 0.9em;
}

.see-more-button:hover {
  text-decoration: underline;
}


.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
    z-index: 999;

}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  max-width: 500px;
  width: 90%;
}

.modal-content h3 {
  margin-top: 0;
}

.modal-content button {
  margin-top: 15px;
  padding: 8px 12px;
  cursor: pointer;
}
